INFLUX_URL=http://localhost:8086
INFLUX_ORG=sre-org
INFLUX_TOKEN=TTKFKOw2xi4T2KpMcc2BdmlxfT-X-cMAWdzza2nCIKHf32_RybEWW9eRgBZtVspYS51WrT56MEc931AJMijUng==
API_KEY=s55VSZiGLRKUKnpWIF884UVnON6RGuKu18zcqrK1QUc